header, main, nav, footer, section, figure, header{display: inline-block;}

body 	{  background-image: url("background.png");
		   
		   background-repeat: no-repeat;
		   background-image-position: center;
		   background-size: cover;
		   background-color: rgba(106, 173, 192, 0.5);
		   font-family: "Impact", Charcoal, sans-serif;
		   }

#wrap {
		margin: auto;
		width: 100%;}




header 	{	margin: auto;
		   	float: left;
		   	width: 100%;
			padding: 10px 10px 10px 10px;
}

h1		{   text-align: center;
			float: left;
			font-size: 3.0em;
			width:100%;
			padding: 10px, 10px, 10px, 10px;}

nav  	{ 	background-color: rgba(17, 70, 84, 0.5);
			font-size: 2.0em; 
		  	text-align: left;
		  	float: left;
		  	width: 15%;
		  	list-style-type: none;
		  	height: 100%; 
		  } 

nav a { 
		color: rgb(220, 237, 255);
		margin-bottom: 10px;
		text-decoration: none;
		list-style-type: none;  }

main { float: right;
		width: 85%;
		margin:auto; }


h2		{ font-size: 2.5em; }


#What { background-color: rgba(173, 192, 106, 0.7);
		color: rgb(17, 70,84);
		width: 80%;  
		padding: 5px 5px 5px 5px;
		margin-left:5%;
		margin-bottom: 5%;}

#LongTermEffects {  background-color: rgba(173, 192, 106, 0.7);
					color: rgb(17, 70,84);
					width: 37.5%;
					float: left;
					margin-left: 5%;
					padding: 5px 5px 5px 5px;
					margin-bottom: 5%;
					height: 400px; }

#EffectsSeniors {   background-color: rgba(173, 192, 106, 0.7);
					color: rgb(17, 70, 84);
					width: 37.5%;
					float: right; 
					padding: 5px 5px 5px 5px;
					margin-bottom: 5%;
					margin-right: 15%;
					height: 400px; }

#Help { background-color: rgba(173, 192, 106, 0.7);
		color: rgb(17, 70, 84);
		padding: 5px 5px 5px 5px;
		width: 80%;
		margin-left: 5%;
		margin-bottom: 5%;
		float: left;}


p 		{ font-size: 2.0em;}

ul	{ list-style-type:none;}

footer 	{ color: #000000; 
		  font-size: 1.0em;
		  text-align: right;
		  font-style: italic;
		  padding: 25px;
		  }

footer a { color: #FFFFFF; }

